.second-hero-gradient {
  background: linear-gradient(225.05deg, #3742FA 58.33%, #6A20C9 100%);
  opacity: 0.9;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero.second-hero {

  display: flex;
  align-items: center;

  img {
    z-index: -1;
  }

  .container.second-hero-container {
    z-index: 1;
    max-width: 683px;

  }


  .second-hero-content {
    text-align: center;

    h1 {
      font-weight: 600;
      margin-bottom: 2rem;
    }

    p.one {
      margin-bottom: 2rem;
      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }
  }

  .hero-button-text.second-hero {
    padding: 6px 19px;
  }

}


.second-hero .hero-button-text.second-hero:after {
  content: "";
  background-image: url('../assets/images/calendar-blue.svg');
  height: 25px;
  width: 25px;
  display: inline-block;
  padding-right: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

.second-hero .hero-button-text.second-hero {
  display: flex;
  align-items: center;
}

